*{
    margin:0;
    font-family:Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.8rem;
    margin-left: 15px;
}
.add-sec{
    color: white;
    font-size: 1 rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width:500px;
    height: 38px;
    background-color: #febd69;
    border-radius:4px
}
.search-sel{
    color: #of3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;

}
.search-inp{
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color:#0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.7rem;
}
.nav-acc-det{
    font-size: 0.85rem;
    font-weight: 700;
}
.cart i {
    font-size: 30px;
}
.cart {
    font-size: 0.85rem;
    font-weight: 700;
}
.panel{
    height:40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.options p{
    display: inline;
    margin-left: 17px;
}
.options{
    width:70%;
    font-size: 0.85rem;
}.deals{
    font-size: 0.9rem;
    font-weight: 700;
}.main{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height:200px;
}
.section{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
background-color: #e2e7e6;
}
.box{
    height: 320px;
    width:22%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.img1{
    height:250px;
    margin-top: 7px;
    margin-bottom: 12px;
}
.inside{
margin-left: 1rem;
margin-right: 1rem;
}
.inside p{
        color:#007185;
}
footer{
    margin-top: 15px;
}
.foot-1{
    background-color: #37475a;
    color:white;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-2{
    background-color: #222f3d;
    display: flex;
    color:white;
    height: 300px;
    justify-content: space-evenly;
}
ul a{
    display: block;
    color:#dddddd;
    margin-top: 10px;
    font-size: 0.85rem;
}
ul{
    margin-top: 20px;
}
.foot-3{
    background-color: #222f3d;
    color: white;
    border-top:0.7px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
}
.f3-logo{
    background-image: url("amazon_logo.png");
    height: 60px;
    width:100px;
    background-size: cover;
}
.foot-4{
    background-color: #0f1111;
    color: white;
    height: 80px;   
    font-size: 0.7rem;
    text-align: center;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}
.pages{
    padding-top: 25px;
}
.copy{
    padding-top: 5px;
}